<app-navbar></app-navbar>
<h1 class="text-center pt-5">Todo List</h1>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-6 pt-3">
      <div class="input-group mb-3 pb-3">
        <input type="text" class="form-control" placeholder="Enter Todo" arialabel="button" aria-describedby="button" [(ngModel)]="newTodo"  (keydown.enter)="saveTodo()">
        <button class="btn btn-primary" type="button" id="button-addon2" (click)="saveTodo()" >Add Item</button>
      </div>
      <div>
        <ul >
            <li class="card mb-2 row d-flex" *ngFor="let todo of todos; let i = index;">
              <div class="d-inline-flex" *ngIf="todo.isEditing==false;">
                <div class="col-1">{{i+1}}</div>
                <div class="col-9 {{(todo.isCompleted?'done':'')}}" (click)="done(i)">{{todo.name}}</div>
                <div class="col-1"><img style="height:20px;" src="../assets/image/edit.png" (click)="edit(i)"></div>
                <div class="col-1"><img style="height:20px;" src="../assets/image/cancel.png" (click)="remove(i)"></div>
              </div>
              <div class="d-inline-flex" *ngIf="todo.isEditing==true;">
                  <div class="col-1 d-inline-flex pl-1"><span class="badge badge-pill badge-primary">Edit</span></div>
                  <div class="col-9" ><input type="text" class="form-control" defaultValue="{{todo.name}}" arialabel="button" aria-describedby="button" [(ngModel)]="updateTodoName"  (keydown.enter)="updateTodo(i)" (keydown.esc)="cancelEdit(i)"></div>
                  <div class="col-1"><img style="height:20px;" src="../assets/image/done.png" (click)="updateTodo(i)"></div>
                  <div class="col-1"><img style="height:20px;" src="../assets/image/cancel.png" (click)="cancelEdit(i)"></div>
                </div>
            </li>
          
        </ul>
        <p>Todo remains : {{incompletedTodo.length}}</p>
        <!-- <ul >
          <li class="card mb-2 row d-flex" *ngFor="let todo of todos; let i = index;">
            <div class="col-1">{{i+1}}</div>
            <div class="col-9 {{(todo.isCompleted?'done':'')}}" (click)="done(i)">{{todo.name}}</div>
            <div class="col-2"><img style="height:20px;" src="../assets/image/cancel.png" (click)="remove(i)"></div>
          </li>
        </ul> -->
      </div>
    </div>
  </div>
</div>